---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>

    </div>
    <div>
      <section>
        <h2>Mira mi contenido</h2>
        <h3>Mi canal con más de 100,000 suscriptores: </h3>
        <a target="_blank" href="https://youtube.com/@dragonpunchz?si=BaLpzPNXyft4zI8T">Youtube</a>
        <br>
        <br>
        <h3>Mi TikTok con más de 1 millón de Likes</h3>
        <a target="_blank" href="https://www.tiktok.com/@dragonpunchspiderz">TikTok</a>
      </section>
    </div>
  </div>
</footer>
