---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>

    </div>
    <div>
      <section>
        <h2>Visita mi Youtube</h2>
        <h3>Mi canal con mas de 100,000 suscriptores</h3>
        <a target="_blank" href="https://youtube.com/@dragonpunchz?si=BaLpzPNXyft4zI8T">Youtube</a>
      </section>
    </div>
  </div>
</footer>
