---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <p class="copyright">
        &copy; AREA44. Design: <a href="http://html5up.net">HTML5 UP</a>.<br />
        Images: <a href="http://unsplash.com">Unsplash</a>
      </p>
    </div>
    <div>
      <section>
        <h2>Get in touch</h2>
        
      </section>
    </div>
  </div>
</footer>
