---
//const videoFiles = ['XDEV.mp4','XdevLab.mp4'];
const videoFiles = [{video:'XDEV.mp4', poster:"posters/x.jpg"},{video:'XdevLab.mp4', poster:"posters/xdevlab.jpg"}]
---

<div id="videos">
    {
      videoFiles.map((videoFile) => (
        <video poster={`./videos/${videoFile.poster}`} controls muted controlsList="nodownload" >
          <source
        src={`/videos/${videoFile.video}`}
        type={'video/mp4'}
      />
          Tu navegador no soporta la etiqueta <code>video</code>.
        </video>
      ))
    }

  </div>

  <style is:inline>
    video{width: 480px;}
    @media screen and (max-width: 1024px) {
      video{width: 100%;}
    }
  </style>