---
import type { ImageMetadata } from 'astro'
import { Image, getImage } from 'astro:assets'



const videoFiles = ['XDEV.mp4','XdevLab.mp4'];

---

<div id="videos">
    {
      videoFiles.map((videoFile) => (
        <video controls muted controlsList="nodownload" width="720" height="480">
          <source
        src={`/videos/${videoFile}`}
        type={videoFile.endsWith('.webm') ? 'video/webm' : 'video/mp4'}
      />
          Tu navegador no soporta la etiqueta <code>video</code>.
        </video>
      ))
    }
  </div>